head,body,div,img,ul,li{
	margin:0px;
	padding:0px;
	list-style: none;
}
img{
	border:none;
	vertical-align:middle;
}
body{
	width:100%;
	color:#9a9c97;
	font-family: 黑体;
	font-size: 14px;
}
.body1{
	width:1100px;
	margin:0 auto;
	background-color: #f9f9f9;
}
.magin{
	margin-top:-4px;
}
.ul1 ul {
	background-image:url(images/img_04.gif);
	width:1100px;
}.ul1 li{
	background-image: url();
	margin-left:73px;
	margin-top: 14px;
	float:left;
	position: relative;
}
.p1{
	color:#ef4560;
	width:280px;
	font-size: 30px;
	font-family: 黑体;
	position:absolute;
	margin-top: 45px;
	margin-left: 37%;

}
.p1 span{
	
	font-size: 25px;
	font-family: Arial;
}
.p2{
	margin:10px;
	text-align: center;
}
.p3{
	margin-top:-10px;
	text-align: center;
}
.zhanshi{
	height:303px;
	width:100%;
}
.span1,.span,.span3{
	width:260px;
	text-align: center;
	float:left;
	margin-top: 10px;
	margin-left:20px;
}
.span{
	margin-left: 0px;
}
.span3{
	margin-right: 0px;
}
.left{
	width:540px;
	height:380px;
	float:left;
	
}
.right{
	width:540px;
	height:380px;
	float:right;
	

}
.top{
	width:540px;
	height:160px;
	background-color:#efefef;
}
.bottom{
	width:540px;
	height:160px;
	background-color:#efefef;
	margin-top:30px;
}
.left h3,.right h3{
	font-family: 宋体;
	font-weight: 600;
	color:#353533;
	font-size: 16px;
	padding-top:8px;
}
.top h3,.top p,.bottom h3,.bottom p{
	
	margin-left: 15px;

}
.footer p{
	text-align:center;
}